.site-header {

    background-color: $color-base-primary;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
    z-index: 1;

    .site-header__container {
        display: flex;
        align-items: center;
		padding: .2em 2em;

		@include tablet {
			padding: .2em 1em;
		}

        .site-header__mobile-menu {
            @include desktop {
                display: none;
            }

            input[type="checkbox"] {
                display: none;
                visibility: hidden;
            }

            label {
                cursor: pointer;
                display: block;
                padding: .5em;
                margin-right: 1em;
                text-align: center;

                svg {
                    max-height: 1em;
                    width: 1em;
                    stroke: white;
                    stroke-width: 5px;
                    vertical-align: middle;
                }
            }

            nav {
                display: none;
            }

            input[type="checkbox"]:checked ~ nav {
                display: block;
                position: fixed;
                margin-top: 0;
                top: $header-height;
                bottom: 0;
                left: 0;
                border-right: 1px solid $color-gray-lighter;
                width: 15em;
                padding: 2em;
                background-color: white;
                overflow-y: auto;
            }
        }

        .site-header__logo {
            a {
                display: inline-block;

                .phel-logo {
                    max-height: 2.5em;
                    width: 3em;
                    stroke: white;
                    stroke-width: 5px;
                }
            }
        }

        .site-header__search {
            display: block;

            input {
                padding: 0.2rem;
                font-size: initial;
            }

			@include tablet {
				margin-left: auto;
            }
        }

        .site-header__navigation {
            display: none;

            @include desktop {
                display: block;
                flex-grow: 2;

                .top-navigation__item--github {
                    display: none;
                }

                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    margin-left: 2em;
                    display: flex;
                    justify-content: flex-start;

                    li {
                        a {
                            padding: .5em 1em;
                            display: inline-block;
                            color: white;
                        }

                        &.active {
                            a {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }

        .site-header__external-links {
            display: none;

            @include desktop {
                display: block;
                a {
                    display: inline-block;
                    color: white;
                    margin-left: 1em;

                    svg {
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}

[id]::before {
    content: '';
    display: block;
    height:      $header-height;
    margin-top: -$header-height;
    visibility: hidden;
}
