.search-container {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 0 1em;

  input {
    width: 100%;
    padding: 0.2rem;
    font-size: initial;
  }
}

.search-results {
  display: none;
  position: absolute;
  background: white;
  color: black;
  padding: 0.6rem;
  box-shadow: 0 0 0 1px rgb(0, 0, 0 / 50%);
  overflow: auto;
  width: -webkit-fill-available;
  max-height: calc(100vh - 4rem);

  @include desktop {
    max-height: 500px;
  }

  &__items {
    list-style: none;
  }

  li {
    margin-top: 0.6rem;
    border-bottom: 1px solid #ccc;
    font-size: 0.9rem;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &__item {
    margin-bottom: 0.6rem;

    a {
      font-size: 1.2rem;
      display: inline-block;
    }

    .fn-signature {
      font-family: monospace;
      font-size: 0.6em;
    }

    .desc {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      color: black;
    }
  }
}
