.site-navigation {
  li.active {
    font-weight: bold;
  }
}

.related-container {
  margin-top: 3rem;
  margin-bottom: 4rem;
  display: flex;
  text-align: center;

  .link {
    flex-shrink: 0;
    padding: 1rem;
    box-sizing: border-box;
    width: 50%;

    span {
      display: block;
    }
  }
}
