.site-navigation {
  li.active {
    font-weight: bold;
  }
}

.related-container {
  border: 1px solid $color-gray-base;
  margin: 4rem 0 4rem 0;
  float-displace: unset;
  text-align: center;

  .link {
    padding: .4rem;
  }
  .link-previous {
    float: left;
  }
  .link-next {
    float: right;
  }
}
