.layout-container {
    max-width: 1200px;
    margin: -20px auto 20px auto;
    padding-top: 9px;
}

.two-column-layout {
    margin: 0 auto;
    max-width: 800px;

    .two-column-layout__sidebar {
        display: none;
    }

    .two-column-layout__content {
        padding: 0 2em 0 2em;
    }

    @include desktop {
        margin: unset;
        max-width: unset;

        .two-column-layout__sidebar {
            border-right: 1px solid $color-base-lines;
            display: block;
            height: 100%;
            padding: 25px 2em;
            position: fixed;
            width: 15em;
            margin-top: -43px;

            .site-navigation{
                overflow-y: scroll;
                height: calc(80%);
            }
        }

        .two-column-layout__content {
            box-sizing: border-box;
            flex: 1;
            max-width: 800px;
            margin-left: 350px;
            margin-top: 0;
        }
    }
}
