.layout-container {
    margin: 0 auto;
    max-width: 1200px;
}

.two-column-layout {
    margin: 0 auto;
    max-width: 800px;

    .two-column-layout__sidebar {
        display: none;
    }

    .two-column-layout__content {
        padding: 0 2em 0 2em;
    }

    @include desktop {
        margin: unset;
        max-width: unset;

        .two-column-layout__sidebar {
            border-right: 1px solid $color-base-lines;
            display: block;
            height: 100vh;
            padding: 2em 2em 0 2em;
            position: fixed;
            width: 15em;
            .site-navigation{
                overflow-y: scroll;
                height: calc(75%);
            }
        }

        .two-column-layout__content {
            box-sizing: border-box;
            flex: 1;
            max-width: 800px;
            margin-left: 350px;
            margin-top: 0;
        }
    }
}
