@import 'settings';
@import 'base';
@import 'macros';
@import 'headings';
@import 'lists';
@import 'code';
@import 'one-column-layout';
@import 'two-column-layout';
@import 'site-navigation';
@import 'header';
@import 'page-toc';

body {
    padding-top: $header-height;
}

footer {
    margin-top: 5em;
    text-align: center;
    font-size: 14px;
}

svg.phel-logo {
    fill: none;
    stroke: $color-base-primary;
    stroke-width: 3px;
}

ul.api-index {
    padding: 0;

    li {
        display: inline-block;
    }
}

.zola-anchor {
    color: $color-gray-lighter;
    font-style: italic;
    padding-left: 0.2em;
}

.solution {
    input + label + pre { display: none; }
    input:checked + label + pre { display: block; }

    label {
        font-style: italic;
        cursor: pointer;
        user-select: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
