<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         colors="true"
         executionOrder="random"
         processIsolation="false"
         stopOnFailure="false"
>
    <php>
        <ini name="error_reporting" value="-1" />
    </php>

    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">build/tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">build/src</directory>
        </include>
    </source>
</phpunit>
