.releases-intro {
  font-size: var(--text-lg);
  color: var(--color-light-text-secondary);
}

.dark .releases-intro {
  color: var(--color-dark-text-secondary);
}

.release-entry .meta {
  color: var(--color-gray-light);
}
