.releases-intro {
  font-size: var(--text-lg);
  color: var(--color-light-text-secondary);
  margin-bottom: var(--space-xl);
}

.release-list {
  margin: var(--space-3xl) 0;
}

.dark .releases-intro {
  color: var(--color-dark-text-secondary);
}
