{% extends "layouts/one-column-layout.html" %}

{% block meta_content %}
    <title>{{ page.title }} | {{ config.title }}</title>
    <meta property="og:title" content="{{ page.title }} | {{ config.title }}" />
{% endblock meta_content %}
{% block content %}
  <div class="blog-entry">
    <h1>{{page.title}}</h1>
    {% if page.date %}
      <div class="meta">Published <time datetime="{{page.date}}">{{ page.date | date(format="%b, %e %Y") }}</time></div>
    {% endif %}
    {{page.content | safe}}

    <div class="related-container">
      {% if page.earlier %}
      <div class="link link-previous">
        <span>&larr;</span>
        <a href="{{ page.earlier.permalink }}">{{ page.earlier.title }}</a>
      </div>
      {% endif %}

      {% if page.later %}
      <div class="link link-next">
        <a href="{{ page.later.permalink }}">{{ page.later.title }}</a>
        <span>&rarr;</span>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock content %}
