{% extends "base.html" %}

{% block body %}
{% include "header.html" %}
<div class="documentation">
    <aside class="documentation__sidebar">
        <input type="checkbox" id="menu_checkbox">
        <label for="menu_checkbox">
            <svg viewBox="0 0 32 32">
                <path d="M3,3 29,3 M3,16 29,16 M3,29 29,29"></path>
            </svg>
            Menu
        </label>
        <nav>
            <ol>
                {% set doc_section = get_section(path="documentation/_index.md") %}
                {% for page in doc_section.pages %}
                    <li class="{% if current_path == page.path %}active{% endif %}">
                        <a href="{{ page.permalink }}">{{page.title}}</a>
                    </li>
                {% endfor %}
            </ol>
        </nav>
    </aside>
    <div class="documentation__content">
        {% block content %} {% endblock %}
    </div>
</div>

{% include "footer.html" %}
{% endblock body %}
