{% extends "layouts/two-column-layout.html" %}

{% block sidebar_extra %}{% endblock sidebar_extra %}

{% block content %}
    {% set crumb_page = page %}
    {% include "partials/breadcrumb.html" %}
    <h1>{{page.title}}</h1>
    {% if page.path is starting_with("/documentation/") %}
        <div class="page-meta">
            {% if page.extra.difficulty is defined %}
                <span class="page-meta__badge page-meta__badge--{{ page.extra.difficulty }}">{{ page.extra.difficulty | title }}</span>
            {% endif %}
            {% if page.reading_time %}
                <span class="page-meta__readtime">{{ page.reading_time }} min read</span>
            {% endif %}
        </div>
    {% endif %}
    {% set show_toc = page.path is starting_with("/documentation/") and page.toc and page.toc | length >= 2 %}
    {% if show_toc %}
        {% include "page/table-of-content-mobile.html" %}
    {% endif %}
    <div class="flex-container{% if show_toc %} flex-container--with-toc{% endif %}">
        <div class="page-content">
            {{page.content | safe}}
        </div>
        {% if show_toc %}
            {% include "page/table-of-content.html" %}
        {% endif %}
    </div>
{% endblock content %}

{% block navigation %}
{% include "partials/doc-prev-next.html" %}
{% endblock navigation %}

{% block editable %}
{% set edit_rel_path = page.relative_path %}
{% include "partials/edit-page-link.html" %}
{% endblock editable %}
