{% extends "layouts/two-column-layout.html" %}

{% block meta_content %}
    <title>{{ page.title }} | {{ config.title }}</title>
    <meta property="og:title" content="{{ page.title }} | {{ config.title }}" />
{% endblock meta_content %}

{% block sidebar_extra %}
    {% include "page/table-of-content.html" %}
{% endblock sidebar_extra %}

{% block content %}
    <h1>{{page.title}}</h1>
    <div class="flex-container">
        <div class="page-content">
            {{page.content | safe}}
        </div>
    </div>
{% endblock content %}

{% block editable %}
<span class="found-a-typo">
  {% set url = config.extra.repo_content_url ~ page.relative_path %}
  <a href="{{url}}" target="_blank" rel="noopener noreferrer">Edit me</a>
</span>
{% endblock editable %}
