{% extends "layouts/two-column-layout.html" %}

{% block meta_content %}
    <title>{{ page.title }} | {{ config.title }}</title>
    <meta property="og:title" content="{{ page.title }} | {{ config.title }}" />
{% endblock meta_content %}

{% block content %}
    <h1>{{page.title}}</h1>

    <ul class="api-index">
    {% for namespace in page.toc %}
        <li class="api-index__entry" style="margin-top: 20px;">
            Namespace: {{ namespace.title }}
            <ul>
            {% for fn in namespace.children %}
                <li>
                    <a href="{{ fn.permalink | safe }}">{{ fn.title }}</a>
                </li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>

    {{page.content | safe}}
{% endblock content %}
