{% extends "layouts/one-column-layout.html" %}

{% block og_type %}{% set og_type = "article" %}{% endblock og_type %}

{% block article_meta %}
  {% if page.date %}<meta property="article:published_time" content="{{ page.date }}">{% endif %}
  <meta property="article:section" content="Releases">
{% endblock article_meta %}

{% block content %}
  <div class="release-entry">
    <h1>{{page.title}}</h1>
    {% if page.date %}
      <div class="meta">Released <time datetime="{{page.date}}">{{ page.date | date(format="%b, %e %Y") }}</time></div>
    {% endif %}
    {{page.content | safe}}

    <div class="related-container">
      {% if page.lower %}
      <a href="{{ page.lower.path }}" class="btn btn-secondary link link--previous">
        <span>←</span>
        <span class="link__title">{{ page.lower.title }}</span>
      </a>
      {% endif %}

      {% if page.higher %}
      <a href="{{ page.higher.path }}" class="btn btn-secondary link link--next">
        <span class="link__title">{{ page.higher.title }}</span>
        <span>→</span>
      </a>
      {% endif %}
    </div>
  </div>
{% endblock content %}
